## Licensed to the Apache Software Foundation (ASF) under one
## or more contributor license agreements.  See the NOTICE file
## distributed with this work for additional information
## regarding copyright ownership.  The ASF licenses this file
## to you under the Apache License, Version 2.0 (the
## "License"); you may not use this file except in compliance
## with the License.  You may obtain a copy of the License at
##
##   http://www.apache.org/licenses/LICENSE-2.0
##
## Unless required by applicable law or agreed to in writing,
## software distributed under the License is distributed on an
## "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
## KIND, either express or implied.  See the License for the
## specific language governing permissions and limitations
## under the License.
##
#foreach ($col in $table.Columns)
#if($table.database.getTable($col.torqueType))
#set ( $columnPrefix = "$!{columnPrefix}${col.Name}_" )
#set ( $descriptionPrefix = "$!{descriptionPrefix}$!{col.description} " )
#set ( $tableNamePrefix = "$!{tableNamePrefix}${table.name}," )
$generator.parse("$basepath/comment.vm", "", "table", $table.database.getTable($col.torqueType))
#set ( $currentTableName = $tableNamePrefix.substring(0, $tableNamePrefix.lastIndexOf(',')))
#set ( $tableNameIndex = $currentTableName.lastIndexOf(',') + 1)
#set ( $currentTableName = $currentTableName.substring($tableNameIndex))
#set ( $table = $table.database.getTable($currentTableName))
#set ( $tableNamePrefix = $tableNamePrefix.replaceAll("${currentTableName},", "") )
#set ( $descriptionPrefix = $descriptionPrefix.replaceAll("${col.description} $", "") )
#set ( $columnPrefix = $columnPrefix.replaceAll("${col.Name}_$", "") )
#else
#if(!$col.skipColumn)
#set( $desc = "$!{descriptionPrefix}$!{col.description}")
#if($desc.trim().length() > 0)
COMMENT ON COLUMN ${baseTable.name}.$!{columnPrefix}$col.Name IS '$desc';
#end
#end
#end
#end
##
##
#if($table.database.isTableByJavaName("$table.baseClass"))
#set($foreignTable = $table.database.getTableByJavaName("$table.baseClass"))
#if($foreignTable)
#if($foreignTable.isSkipSqlOrg())
##外部テーブル展開
$generator.parse("$basepath/comment.vm", "", "table", $foreignTable)#end#end#end
