#set ( $basepath = "sql/base/$targetDatabase" )
#set ( $dbprops = $properties.load("sql/base/$targetDatabase/db.props") )
#set ( $fname= "sql/base/$targetDatabase/table.vm" )
#set ( $fnamekeys= "sql/base/$targetDatabase/tablefk.vm" )
#set ( $idname = "sql/id-table/idtable.$targetDatabase" )

$dataModels.class.name

#foreach ($dataModel in $dataModels)
        
  #set ( $outFile = "${dataModel.fileName}.sql" )

  File to be created: $outFile
  
  #set ( $database = $dataModel )
  #foreach ($tbl in $database.tables)
    Primary Key:#if ($tbl.hasPrimaryKey()) Yes #else No #end
    #if (!$tbl.isSkipSql())
      #set ($baseTable = $tbl)
      #set ($currentIndex = 0)
      $generator.parse($fname,$outFile,"table",$tbl)
    #end
  #end
    
  #if ($idmodel)

    Creating id-table

    #set ($tbl = $idmodel.database.getTable("ID_TABLE"))
    $generator.parse($fname,$outFile,"table",$tbl)
 
    ## Generate inserts into ID-TABLE for initial ids.
    #set ( $initialID = 1 )  
    $generator.parse($idname, $outFile, "tables", $database.tables)

  #end

  #set ( $outFile = "${dataModel.fileName}-fk.sql" )
  #foreach ($tbl in $database.tables)
    #if (!$tbl.isSkipSql())
      #set ($baseTable = $tbl)
      #set ($currentIndex = 0)
      $generator.parse($fnamekeys,$outFile,"tablefk",$tbl)
    #end
  #end    

#end
