package $package;

#if ($child.Ancestor)
  #set ($parent = $child.Ancestor)
#else
  #set ($parent = $table.JavaName)
#end

/**
 * @hibernate.subclass
 *    table="$child.column.tableName.toUpperCase()"
 *    discriminator-value="$child.key"
**/
public class $child.ClassName extends $parent {
    private static final long serialVersionUID = 1L;
}
