#set($packageName = "jp.co.mhi.ryousa.net.telegram")
##“d•¶‰ğÍî•ñ‚Ì–„‚ß‚İ
@${packageName}.TelegramParseRule(
    entity="${table.JavaName}",
    fields= {
#set ($grpDelimiter = " ")
#foreach ($col in $table.Columns)
#if($col.ryousaType)
        $grpDelimiter
        @${packageName}.FieldParseRule(
            property="$!col.UncapitalisedJavaName.trim()",
            type="$!col.ryousaType",
            length=$col.ryousaSize,
            defaultValue="$!col.ryousaDefault"
        )
#set($grpDelimiter = ",")
#elseif($table.database.getTable($col.torqueType))
        $grpDelimiter
        @${packageName}.FieldParseRule(
            property="$!col.UncapitalisedJavaName.trim()",
            type="delegate",
            length=-1,
            defaultValue=""
        )
#set($grpDelimiter = ",")
#end
#end
    }
)
