<a name="$table.Name"/>
#if($table.isSkipSql())
#set( $note = "（クラスのみ）" )
#end
<h2>$table.Name $!note</h2>
$!table.Description
<p/>
<table border="1" cellspacing="0">
  <tr>
    <th class="normalFont" bgcolor="#CCCCCC">Name</th>
    <th class="normalFont" bgcolor="#CCCCCC">Type</th>
    <th class="normalFont" bgcolor="#CCCCCC">Size</th>
    <th class="normalFont" bgcolor="#CCCCCC">Default</th>
    <th class="normalFont" bgcolor="#CCCCCC">JavaName</th>
    <th class="normalFont" bgcolor="#CCCCCC">PK</th>
    <th class="normalFont" bgcolor="#CCCCCC">FK</th>
    <th class="normalFont" bgcolor="#CCCCCC">not null</th>
    <th class="normalFont" bgcolor="#CCCCCC">Description</th>
  </tr>
  $generator.parse("doc/html/column.vm","","table",$table)
</table>
<script>
#foreach ( $fk in $table.ForeignKeys )
if( document.getElementById  )
{
var col = document.getElementById("$table.Name$fk.LocalColumnNames");
col.style.backgroundColor = "$docHtmlFkColor";
col.title="Foreignkey from $fk.ForeignTableName.$fk.ForeignColumnNames";
}
#end
</script>
