#foreach ($dataModel in $dataModels)
#foreach ($database in $dataModel.Databases)
#foreach ($tbl in $database.Tables)
$tbl.javaName=$tbl.description
#set ($baseTable = $tbl)
#foreach ($col in $tbl.Columns)
${baseTable.javaName}.${col.uncapitalisedJavaName}=${col.description}
#if("BOOLEANCHAR" == $col.torqueType )
${baseTable.javaName}.${col.uncapitalisedJavaName}InDB=${col.description}
#elseif("BOOLEANINT" == $col.torqueType )
${baseTable.javaName}.${col.uncapitalisedJavaName}InDB=${col.description}
#end
#end
#end
#end
#end
